body {
  margin-left: auto;
  margin-right: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: rgb(27, 29, 30);
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(49, 53, 55, 0.487);
  background-color: rgb(27, 29, 30);
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.phone {
  font-size: 14px;
}

.menu-btn {
  border-left: 1px solid rgba(49, 53, 55, 0.487);
  padding: 5px 15px;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 50px;
}

.our-service-btn,
.contacts-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgb(41, 40, 40);
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-svg-container,
.contacts-svg-container {
  display: flex;
  align-items: center;
}

.svg-arrow {
  fill: aliceblue;
}

.service-list {
  padding-top: 25px;
  display: none;
  grid-template-columns: 1fr;
  gap: 50px;
}

.service-item {
  position: relative;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.service-title {
  position: absolute;
  top: 210px;
  background-color: rgba(27, 29, 30, 0.805);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.service-text {
  font-weight: 300;
  padding-left: 20px;
}

.contacts-container {
  padding-top: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 25px;
}

.contact-svg {
  width: 45px;
}

.map {
  position: relative;
  left: -15px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.worh-hours-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
