body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  background-color: rgb(27, 29, 30);
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Raleway", sans-serif;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(49, 53, 55, 0.487);
  background-color: rgb(27, 29, 30);
  z-index: 10;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-text {
  font-size: 12px;
  font-weight: 100;
}

.phone {
  font-size: 14px;
}

.menu-btn {
  border-left: 1px solid rgba(49, 53, 55, 0.487);
  padding: 5px 15px;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: stretch;
}

.our-service-btn,
.contacts-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(41, 40, 40, 0.805);
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-svg-container,
.contacts-svg-container {
  display: flex;
  align-items: center;
}

.svg-arrow {
  fill: aliceblue;
}

.service-list {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.service-item {
  position: relative;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.service-title {
  position: absolute;
  top: 210px;
  background-color: rgba(27, 29, 30, 0.805);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.service-text {
  font-weight: 300;
  padding-left: 20px;
}

.contacts-container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url("../image/pic/contacts-bcg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Кольором тло з непрозорістю */
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 25px;
}

.contact-svg {
  width: 45px;
}

.map {
  position: relative;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.worh-hours-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.video-container {
  position: relative;
  height: calc(100vh - 55px);
  top: 0;
  overflow: hidden;
}

.video-container .video {
  display: none;
}

/* .video-container .video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  } */

.video-title {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

.video-text {
  position: absolute;
  z-index: 5;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.video-address {
  position: absolute;
  z-index: 5;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  text-align: center;
}

.video-svg-mouse {
  position: absolute;
  z-index: 5;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
}

/*  */
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(49, 53, 55, 0.487);
  background-color: rgb(27, 29, 30);
}
